@font-face {
    font-family: digital7;
    src: url(../fonts/digital-7.ttf);
}

@font-face {
    font-family: papyrus;
    src: url(../fonts/papyrus.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

#map{
    height: 450px;
}

.alongtime{
    font-weight:  normal;
    font-family: papyrus;
}

.navbar {
    background: transparent;
    color: white;
    -webkit-transition: backgound 200ms;
    transition: backgound 2s;
    padding-top: 20px;
    transition: padding-top 200ms, background 500ms;
}

.navbar-brand img{
    width: 12%;
}

.navbar-toggler
{
    color: white;
}

.nav-pills .nav-link.active {
    background: rgba(255, 0, 0, 0.267);
}

em{
    color: #fb1616;
    font-style:  inherit;
    font-weight:  bold;
}

.navbar a {
    color: white;
}

.navbar.compressed {
    background: rgba(0, 0, 0, 0.75);
    padding-top: 0px;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px 17px;
    border-radius: 4px;
}

#scrollTopButton:hover {
    background-color: #555;
}

#timeCounter {
    font-family: "digital7";
    font-size: 2em;
    margin: 0;
}

#buttonDown{
    color: #ffffffb5;
    font-size: 6em;
}

#buttonDownContainer
{
    width: 100%;
    text-align:  center;
    position: absolute;
    bottom: 0px;
}

#buttonDown i{
    transform: scale(1,1);
}

.carousel-caption{
    background: #3a3a3ac7;
    border-radius: 22px;
}