/* ============================================================
PRIMARY STRUCTURE
============================================================ */

.parallax-container {
    max-width: 960px;
    margin: 0 auto;
}

/* ============================================================
SECTIONS
============================================================ */

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    /* background-color: rgba(207, 216, 220, 0.5); */
    z-index: 1000;
    position: relative;
    box-shadow: 0px -9px 20px 0px rgba(66, 66, 66, 0.4), 0px 9px 20px 0px rgba(66, 66, 66, 0.4);
}

section.module.content:last-child {
    margin-bottom: 60px;
}

section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
    position: relative;
}

section.module.parallax h1 {
    color: #ffffff;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 4px black;
    margin-bottom: 7%;
}

section.module.parallax h2 {
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 2px black;
}

section.module.parallax h3 {
    color: #ffffff;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 10px black;
}

.parallax .jumbotron {
    width: 50%;
    background: rgba(37, 37, 37, 0.84);
    color: white;
    margin-left: 5%;
    border-radius: 45px;
    position: relative;
}

.parallax .jumbotron-large {
    width: 75%;
    background: rgba(37, 37, 37, 0.84);
    color: white;
    margin-left: 5%;
    border-radius: 45px;
}

.module.parallax[data-type="background"] .imageContainer {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.module.parallax[data-type="background"] .imageContainer img {
    width: 100%;
    position: absolute;
    top: 0px;
}

#greeting_parallax {
    padding: 40vh 0;
}

.parallax-container {
    position: relative;
}

/* ============================================================
MEDIA QUERIES
============================================================ */

@media all and (max-width: 576px) {
    .parallax .jumbotron,
    .parallax .jumbotron-large {
        width: 90%;
    }
    section.module.parallax {
        padding: 75px 0;
    }
}

@media all and (min-width: 576px) {
    .parallax .jumbotron,
    .parallax .jumbotron-large {
        width: 75%;
    }
    section.module.parallax {
        padding: 75px 0;
    }
}

@media all and (min-width: 768px) {
    .parallax .jumbotron,
    .parallax .jumbotron-large {
        width: 75%;
    }
    section.module.parallax {
        padding: 100px 0;
    }
}

@media all and (min-width: 992px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 23px;
    }
    section.module.parallax {
        padding: 150px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
    section.module.parallax h2 {
        font-size: 40px;
    }
    section.module.parallax h3 {
        font-size: 96px;
    }
    section.module.parallax.parallax .jumbotron,
    .parallax .jumbotron-large {
        width: 75%;
    }
}

@media all and (min-width: 1200px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 23px;
    }
    section.module.parallax {
        padding: 150px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
    section.module.parallax h2 {
        font-size: 40px;
    }
    section.module.parallax h3 {
        font-size: 96px;
    }
    section.module.parallax.parallax .jumbotron {
        width: 50%;
    }
    section.module.parallax.parallax .jumbotron-large {
        width: 75%;
    }
}
