/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

.parallax-container {
    max-width: 960px;
    margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    /* font-family: "Roboto Slab", serif; */
    font-size: 30px;
}

section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    background-color: rgba(207, 216, 220, 0.5);
}

section.module.content:last-child {
    margin-bottom: 60px;
}

section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
}

section.module.parallax h1 {
    color: #ffffff;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 4px black;
}

section.module.parallax h2 {
    color: #ffffff;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 2px black;
}

section.module.parallax h3 {
    color: #ffffff;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 10px black;
}

.parallax .jumbotron {
    width:50%;
    background: rgba(68, 68, 68, 0.61);
    color:  white;
    margin-left: 5%;
    border-radius: 45px;
}

.module.parallax
{
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

#greeting_parallax {
    background-image: url("../img/trophy_4l_07.jpg");
    padding: 40vh 0;
}

#presentation .parallax-container{
    margin: 0 0;
}


#presentation img{
    width: 100%;
}

#presentation_2 {
    background-image: url("../img/trophy_4l_10.jpg");
}

#team {
    background-image: url("../img/IMG_3038-2.jpg");
}

#team_2 img{
    width: 100%;
}

#team_2 .imageCropper{
    width: 100%;
    /* height: 100%; */
    padding-top:  100%;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}

#team_2 .imageCropper img{
    display: inline;
    margin: 0 auto;
    height:  auto;
    position:  absolute;
    top: 0;
    bottom:  0;
    left:  0;
    right:  0;
}

#team_2 #thomasImageContainer img{
    width: 166%;
    transform: translate(-38%,-3%);
}

#team_2 #nathanaelImageContainer img{
    width: 101%;
    transform: translate(0%,-21%);
}

#team_2 p {
 font-style: italic;
 font-weight:  bold;
 text-align:  center;
}

#team_2 h3 {
    padding-top: 1%;
    padding-bottom: 3%;
    text-align:  center;
}

#team_3 {
    background-image: url("../img/eva.jpg");
}

#budget .textContainer{
    padding-top: 3%;
}

#media {
    background-image: url("../img/trophy_4l_09.jpg");

}

#media_2 img{
    width: 100%;
}

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax {
        padding: 300px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
    section.module.parallax h2 {
        font-size: 96px;
    }
    section.module.parallax h3 {
        font-size: 96px;
    }
}

@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 90px;
    }
    section.module.parallax h2 {
        font-size: 30px;
    }
    section.module.parallax h3 {
        font-size: 90px;
    }
}
